<h1>My Name is Avneesh Mehta</h1>
<br />
<p>I am originally from San Jose, CA, but I am now attending UC Berkeley as a Freshman</p>
<br />
<p>Fun Fact: I like to produce music</p>
<a href="https://soundcloud.com/survyvr">Check me out!</a>
<br />
<p>I am most excited to learn the skills to create my own personal website.</p>
<br />
